/* the font */
@import url("https://use.typekit.net/mcb7eal.css");

:root {
    --purple1: #c9c9ff;
    --purple2: #663396;
    --purple3: #330066;
    --purple4: #000033;

  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--purple3);
}

html {
    scroll-behavior: smooth;
}

/* text */

h1 {
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5rem;
    color: var(--purple3);
}

h2 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 10px;
    color: var(--purple3);
}

p {
    color: var(--purple3);
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    position: relative;
}

/* loader!! */

#preloader{
    background: var(--purple1) url(/images/loading.gif) no-repeat center center;
    background-size: 15%; /* size of the gif, make it responsive! */
    height: 100vh;
    width: 100%;
    opacity: 1;
    position:fixed;
    display: block;
    z-index: 999;
}

/* header stuff */

nav {
    display: flex;
    align-items: center;
    
  }

.header {
    padding: 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid var(--purple1);
}
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;

  }
  
  .header li a {
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    color: var(--purple3);
 
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: var(--purple1);
    border-radius: 10px; 
  }
  

  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    color: var(--purple3);
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px 20px 0;
    position: relative;
    user-select: none;
    
  }
  
  .header .menu-icon .navicon {
    background: var(--purple3);
    display: block;
    height: 3.5px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
    border-radius: 10px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: var(--purple3);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 10px;
  }
  
  .header .menu-icon .navicon:before {
    top: 7px;
  }
  
  .header .menu-icon .navicon:after {
    top: -7px;
    
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
    
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    
  }


  #nav-title {
    margin-right: auto;
    height: 60px;
}


.bigbutton {
    background-color: var(--purple3);
    border-radius: 30px;
    padding: 10px 30px;
    border:none;
    color: white;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    cursor: pointer;
}

/* other sections */

section{
    min-height: 80vh;
    padding: 0;
background-color:white;
}

.centercaption{
    width: 100vw;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:100px;
text-align:center;
justify-content: center;
align-content: center;
overflow: hidden;
}

.row {
    display: flex;
overflow: hidden;
    background-color:white;
}

.column{
min-width:50vw;
display:flex;
    align-items:center;
    flex-direction:column;
    padding:80px;
text-align:center;
justify-content: center;
align-content: center;
}

.longColumn{
    min-width:50vw;
    display:flex;
    flex-direction:column;
    padding: 100px 80px;
    align-items: flex-start
}

.longColumn img {
    width: 100%;  /* Makes the image's width equal to that of its container */
    height: 100%; /* Adjusts the image's height to fill the container */
    object-fit: cover; /* Ensures the image covers the container, may crop the image */
    display: block; /* Removes any extra space below the image */
    padding:40px;
  }

.bg1 {
    background-color:white;
}

.bg2 {
    background-color:var(--purple1);
}

.columnbg {
    background-image: url("/images/vibrance.png");
    min-width:50vw;
    display:flex;
        align-items:center;
        flex-direction:column;
        padding:80px;
    text-align:center;
    justify-content: center;
    align-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color:var(--purple1);
  }
  
  .text {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 80px; 
    flex-direction: column;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#mobile {
    display:none;
}


/* first section */

.container1 {
    position: relative;
    width: 100%;
    height: 90vh; 
    overflow: hidden
}

.container1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.centerbutton {
    display: flex;
    width: 100%;
    justify-content: start;
    justify-items: start;
    justify-content: center;
    align-content: center;
    padding-bottom:10%;
}

.column {
    margin-top: 20px;
    flex: 33%;
    max-width: 33%;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.footer{
    display: flex;
    background-color:var(--purple1);
    min-height: 60vh;
    padding: 0;
    background-color:var(--purple3);
    color:var(--purple1);
    overflow:hidden;
}

.footercontainer{
        padding:80px 0 0 120px;
    text-align:left;
    min-width:50vw;
    }

.footer h3 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 10px;
    color:var(--purple1)

}
.footer p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 10px;
    color:var(--purple1)
}
.footer a {
    text-decoration: underline;
    position: relative;
}

.socials{
    padding: 20px 0;
    display: inline-block;
    width: 40%;
}


.socials ul {
    display:inline-block;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
  }

  .socialsheader{
    padding: 0;
    display: inline-block;
    width: 10%;
  }

.socialsheader ul {
    display:inline-block;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
  }

.icon{
    width: 50px;
}



@media screen and (max-width: 800px) {
    .footer, .lightbutton, .darkbutton, .right {
        display: none;
    }

    .row, #menuToggle, #menu {
        display: block;
    }

    h1 {
        font-size: 3rem;
    }


    h2 {
        font-size: 2.5rem;
    }



    .grid-container {
        display: block;
       
      }

    .text {
        padding:120px 30px;
    }

    .centercaption, .caption {
        padding: 50px 20px;
        max-width: 100%;
        display: block;
        min-height: 20vh;
    }

    .caption h3, .letstalk h3 {
        width: 100%;
        font-size: 6vw;
    }

    .caption h4 {
        width: 90%;
    }

    .selected h2 {
        padding: 0 10px;
        font-size: 12vw;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        padding: 20px 15px;
    }

    .container {
        max-width: 100%;
        max-height: 100vh;
    }

    .column {
        flex: 50%;
        max-width: 100%;
    }

    #mobile {
        display: block;
    }

    #preloader {
        background-size: 20%;
    }

    .longColumn{
        padding: 30px 30px;
    }
    .longColumn img {
        padding:0px;
    }

}

@media screen and (max-width: 500px) {
    .footer, .socials {
        display: none;
    }

    .about {
        margin: 200px 20px;
    }

    header {
        padding: 15px 10px;
        position: absolute;
    }

    header a, nav a {
        padding: 10px;
        font-size: 1.25rem;
    }

    .container1 {
        background-image: url('/images/vibrance.png'); /* Mobile background image */
        background-size: cover;
        background-position: center;
    }

    .container1 video {
        display: none;
    }

    .caption h4 {
        width: 95%;
    }

    .column {
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }

    .leftpar, .rightpar, .message {
        font-size: 20px;
    }

    .message {
        width: 80%;
        padding-bottom: 20px;
    }

    .letstalk h1 {
        font-size: 13.5vw;
    }

    h6 {
        font-size: 1.2rem;
    }

    .image, .image img {
        display: none; 
      }

    .altsocials {
        visibility: visible;
        display: block;
        a {
            text-decoration: underline;
        }
    }
}

@media (min-width: 48em) {
    .header li {
        float: left;

    }

    .header li a {
        padding: 20px 20px;
        font-size: 1.25rem;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}
